@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


.custom-img {
  height: 100vh;
  object-fit: cover;
}


.text{
  /* font: normal normal medium 24px/35px Poppins; */
  color: #000000;
}

.horizontal_slider{
  display: block;
  width: 100%;
  overflow-x: scroll;
  margin-top: 30px;
  box-sizing: border-box;
}

.horizontal_slider::-webkit-scrollbar{
  display: none;
}

.slider_container{
  display: block;
  white-space: nowrap;
}

.item{
  display:inline-block;
  margin-right:10px;
}

.item img{
  width: 600px;
  height: 400px;
  object-fit: cover;
}

.footer{
  background: #000000 ;
 
}

/*Navbar Design */
.nav-item{
  text-align: left;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-left: 20px;
}
/* carousel design */
.carousel {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Work design  */

.work{
  margin-top: 100px;
  margin-bottom: 30px;
}

.team{
  margin-bottom: 100px;
}
.details h3{
  font-family: "poppins";
  font-weight: 600;
  font-size: 40px;
}

.details p{
  font-family: "poppins";
  font-weight: 400;
  font-size: 40px;
}
.details span{
  font-family: "poppins";
  font-weight: 400;
  font-size: 21px;
}

/* People component design */

.people{
  margin-bottom: 150px;
}

.contact-btn{
  top: 4325px;
left: 597px;
width: 295px;
height: 79px;
opacity: 1;
}

.contact{
  text-align: center;
  justify-content: center;
}
.contact-data h1{
    font-size: 50px;
    font-family: 'Poppins';
    font-weight: 600;
}
.contact-data p{
  font-size: 25px;
  font-family: 'Poppins';
  font-weight: 400;
}

.contact-data{
  margin-bottom: 50px;
}

.footer{
  text-align: center;
}
.footer1{
  padding: 30px;
  margin-top: 10px;
  text-align: center;
}

.footer3{
 
  margin-top: 10px;
  text-align: center;
}
.contact2{
  justify-content: space-between;
  padding: 20px;
}
.contact-btn:hover{
  background-color: blue;
}
.contact-btn{
  width: 150px;
  height: 50px;
  margin-left: 20px;
}

.footer1 h1{
  font-family: "poppins";
  font-size: 33px;
  color: #FFFFFF;
}

.footer1 h2{
  font-family: "poppins";
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
}

.footer1 span{
  font-family: "poppins";
  font-size: 22px;
  font-weight: 400;
  color: #F84525;
}

.footer2 h1{
  font-family: "poppins";
  font-size: 26px;
  font-weight: 700;
  color: #FFFFFF;
}

hr{
  background-color: #FFFFFF;
  height: 2px;
}