.custom-img {
  height: 100vh;
  object-fit: cover;
}

.nav-theme{
  /* background-color: #FFFFFF; */
}

.text{
  /* font: normal normal medium 24px/35px Poppins; */
  color: #000000;
}

.horizontal_slider{
  display: block;
  width: 100%;
  overflow-x: scroll;
  margin-top: 30px;
  box-sizing: border-box;
}

.horizontal_slider::-webkit-scrollbar{
  display: none;
}

.slider_container{
  display: block;
  white-space: nowrap;
}

.item{
  display:inline-block;
  margin-right:10px;
}

.item img{
  width: 600px;
  height: 400px;
  object-fit: cover;
}

.footer{
  background: #000000 0% 0% no-repeat padding-box;
 
}

/*Navbar Design */
.nav-item{
  text-align: left;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
/* carousel design */
.carousel {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Work design  */

.work{
  margin-top: 100px;
  margin-bottom: 30px;
}

.team{
  margin-bottom: 100px;
}
.details h3{
  font-family: "poppins";
  font-weight: 600;
  font-size: 40px;
}

.details p{
  font-family: "poppins";
  font-weight: 400;
  font-size: 40px;
}
.details span{
  font-family: "poppins";
  font-weight: 400;
  font-size: 21px;
}

/* People component design */

.people{
  margin-bottom: 150px;
}

.contact{
  text-align: center;
  justify-content: center;
}
.contact-data h1{
    font-size: 50px;
    font-family: 'Poppins';
    font-weight: 600;
}
.contact-data p{
  font-size: 25px;
  font-family: 'Poppins';
  font-weight: 400;
}

.contact-data{
  margin-bottom: 50px;
}